<%= form_tag admin_opportunities_path, method: :get, id: 'opportunity-filters' do %>
  <%= select_tag(:region_id, grouped_options_for_select(opportunity_filters, params[:region_id]), include_blank: 'Choose a Filter')%>
  
  <%= submit_tag 'filter' %>
<% end %>

<% if opportunities.empty? %>
  <p class="empty-list">There are no opportunities to show here.</p>
<% else %>
  <%= form_tag export_admin_opportunities_path(format: 'csv'), method: :post do %>
    <table class="wide">
      <thead>
        <tr>
          <th>Opportunity</th>
          <th>Employer</th>
          <th>Summary</th>
          <th>Deadline</th>
          <th>Published</th>
          <th>Partner</th>
          <th>Inbound</th>
          <th>Recurring</th>
          <th>Actions</th>
          <th class="numeric" style="white-space: nowrap">
            Export <input type="checkbox" id="check-all-opportunities">
          </th>
        </tr>
      </thead>

      <tbody>
        <% opportunities.each do |opportunity| %>
          <tr>
            <td><%= link_to opportunity.name, admin_opportunity_path(opportunity) %></td>
            <td><%= opportunity.employer.name %>
            <td><%= truncate(opportunity.summary, length: 100, separator: ' ') %></td>
            <td><%= date_format(opportunity.application_deadline) %></td>
            <td class="checkmark"><%= checkmark(opportunity.published?) %></td>
            <td class="checkmark"><%= checkmark(opportunity.employer.employer_partner) %>
            <td class="checkmark"><%= checkmark(opportunity.inbound) %></td>
            <td class="checkmark"><%= checkmark(opportunity.recurring) %></td>
            <td>
              <%= link_to 'Edit', edit_admin_opportunity_path(opportunity), class: 'edit' %><br/>
              <%= link_to 'Delete', admin_opportunity_path(opportunity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %><br />
              <%= link_to('Unpublish', unpublish_admin_opportunity_path(opportunity), method: :put, class: 'edit') if opportunity.published? %>
            </td>
            <td class="numeric"><%= check_box_tag 'export_ids[]', opportunity.id, opportunity.export, class: 'opportunity-checkbox' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <%= submit_tag 'Export to CSV', id: 'export-to-csv' %>
      <%= link_to 'Clear Export List', unqueue_admin_opportunities_path, class: 'button-white' %>
    </p>
  <% end %>
<% end %>